include ./_bulletlist.pug

mixin color(name, descr, color)
    li(class='colors__li colors__li--'+color)
        dl
            dt.colors__name= name
            dd.colors__descr= descr
        
mixin type(size, name)
    li
        dl.types__container
            dt(class='types__tag types__tag--'+size)= name
            dd.types__descr
                block

mixin form-element(name, descr)
    div
        dl.forms__container
            dt.forms__name= name
            dd.forms__descr= descr
        block

mixin text-field(name, placeholder, modifier)
    input(type="text", name=""+name, placeholder=""+placeholder, class="text-field "+modifier)

mixin checkbox(check, name, id, value)
    label(for=""+id).checkbox
        block
        input(type="checkbox", id=""+id, name=""+name, value=""+value, checked="#{check}")

mixin radio(check, label, name, id, value)
    label(for=""+id).radio= label
        input(type="radio", id=""+id, name=""+name, value=""+value, checked="#{check}")

mixin toggle(check, label, name, id, value)
    label(for=""+id).toggle= label
        input(type="checkbox", id=""+id, name=""+name, value=""+value, checked="#{check}")

mixin like(value, modifier)
    button(class="like "+modifier)= value

mixin btn(value, styles, id)
    button(class="btn "+styles, id=""+id)= value

mixin submit(value, styles, id)
    button(class="btn "+styles, id=""+id)= value

mixin pagination(styles)
    div(class="pagination "+styles)
        ul
            li
                a.pagination__link.pagination__link--active(href="#") 1
            li
                a.pagination__link(href="#") 2
            li
                a.pagination__link(href="#") 3
            li
                p ...
            li
                a.pagination__link(href="#") 15
            li
                a.pagination__link.pagination__link--last(href="#") 1111
        p.pagination__descr 1 – 12 из 100+ вариантов аренды
        
mixin subscribe(styles, placeholder, name, action)
    form(action=""+action)
        input(type="text", name=""+name, placeholder=""+placeholder, class="subscribe "+styles)
        input(type="submit", value="000").subscribe__btn

mixin expandable(name, styles)
    div(class="expandable "+styles)
        h3.expandable__header= name
        ul.expandable__list
            block        

mixin feature(name, text, styles)
    div(class="feature "+styles)
        h4.feature__header= name
        p.feature__text= text

mixin comments(href, name, src, ago, likes, likemodifier)
    a(href=""+href, title=""+name)
        img(src=""+src, alt=""+name)
    a(href=""+href, title=""+name)= name
    p= ago
    +like(likes, likemodifier)
    block

mixin dropdown(styles, placeholder)
    div(class="dropdown "+styles)= placeholder
    .dropdown__list
        block

mixin dropdown__item(name, count, minusmod)
    li.dropdown__item 
    p= name
    .dropdown__calc= count
        button(class="dropdown__counter dropdown__counter--minus "+minusmod) -
        button.dropdown__counter.dropdown__counter--plus +

mixin date-dropdown(name, day, styles)
    div(class="date-dropdown "+styles)
        h3.date-dropdown__header= name
        button.date-dropdown__btn= day

mixin login(action)
    h1.login__header Войти
    form(action=""+action)
        +text-field("name", "Email", "")
        +text-field("name", "Пароль", "")
        +submit("войти", "", "")
        .login__footer
            p Нет аккаунта на Toxin? 
            +btn("создать", "btn--empty btn--empty_active")

mixin key-value(key, value, styles)
    p(class="key-value "+styles)
        span.key-value__key= key
        span.key-value__value= value

mixin booking(header, roomtype, price, arrivalday, leaveday, guests, allpricedays, allpricecount, costdescr, costcount, upsaledescr, upsalecount, info, fullprice)
    .booking__wrapper                    
        h6.booking__header= header
            span.booking__type= roomtype
        +key-value(price, "в сутки", "booking__price")
    .booking__wrapper
        +date-dropdown("прибытие", arrivalday, "")
        +date-dropdown("выезд", leaveday, "")
    +dropdown("", guests)
    .booking__wrapper
        span.booking__allprice-days= allpricedays
        span.booking__allprice-count= allpricecount
    .booking__wrapper
        span.booking__cost-descr= costdescr
            a.booking__info(href="#" title=""+info)
        span.booking__cost-count= costcount
    .booking__wrapper
        span.booking__upsale-descr= upsaledescr
            a.booking__info(href="#" title=""+info)
        span.booking__upsale-count= upsalecount
    .booking__wrapper.booking__wrapper--sum
        h2 Итого
        h2.booking__fullprice= fullprice
    +submit("забронировать", "", "")

mixin searchroom(arrivalday, leaveday, guests, styles)
    section(class="searchroom "+styles)
        h1.searchroom__header Найдём номера под ваши пожелания
        .searchroom__wrapper
            +date-dropdown("прибытие", arrivalday, "")
            +date-dropdown("выезд", leaveday, "")
        +dropdown("", guests)
        +submit("подобрать номер", "", "")

mixin signup(styles)
    section(class="signup "+styles)
        h1.signup__header Регистрация аккаунта
        +text-field("name", "Имя", "")
        +text-field("name", "Фамилия", "")
        +radio("", "Мужчина", "sign", "sign1", "male")
        +radio("", "Женщина", "sign", "sign2", "female")
        //-mask-input
        h3 данные для входа в сервис
        +text-field("name", "Email", "")
        +text-field("name", "Пароль", "")
        +toggle("", "Получать спецпредложения", "name", "spam", "value")
        +submit("перейти к оплате", "", "")
        .signup__wrapper
            span Уже есть аккаунт на Toxin
            +btn("войти", "btn--empty btn--empty_active")