include ./_bulletlist.pug

mixin color(name, descr, color)
    li(class='colors__li colors__li--'+color)
        dl
            dt.colors__name= name
            dd.colors__descr= descr
        
mixin type(size, name)
    li
        dl.types__container
            dt(class='types__tag types__tag--'+size)= name
            dd.types__descr
                block

mixin form-element(name, descr)
    div
        dl.forms__container
            dt.forms__name= name
            if descr
                dd.forms__descr= descr
        block

mixin text-field(name, placeholder, modifier)
    input(type="text", name=""+name, placeholder=""+placeholder, class="text-field "+modifier)

mixin checkbox(check, name, id, value)
    input.checkbox__input(type="checkbox", id=""+id, name=""+name, value=""+value)
    label(for=""+id).checkbox
        block
        

mixin radio(check, label, name, id, value)
    input.radio__input(type="radio", id=""+id, name=""+name, value=""+value)
    label(for=""+id).radio= label
    

mixin toggle(check, label, name, id, value)
    input.toggle__input(type="checkbox", id=""+id, name=""+name, value=""+value)
    label(for=""+id).toggle= label
    

mixin like(value, modifier)
    button(class="like "+modifier)= value

mixin btn(value, styles, id)
    button(class="btn "+styles, id=""+id)= value

mixin submit(value, styles, id)
    button(class="btn "+styles, id=""+id)
        span.btn-submit__title= value

mixin pagination(styles)
    div(class="pagination "+styles)
        ul.pagination__list
            li.pagination__item
                a.pagination__link.pagination__link--active(href="#") 
                    span 1
            li.pagination__item
                a.pagination__link(href="#") 
                    span 2
            li.pagination__item
                a.pagination__link(href="#") 
                    span 3
            li.pagination__item.pagination__link
                p ...
            li.pagination__item
                a.pagination__link(href="#") 
                    span 15
            li.pagination__item
                a.pagination__link.pagination__link--last(href="#") 
        p.pagination__descr 1 – 12 из 100+ вариантов аренды
        
mixin subscribe(styles, placeholder, name, action)
    div(class="subscribe "+styles)    
        form(action=""+action)
            input.subscribe__input(type="text", name=""+name, placeholder=""+placeholder)
            input.subscribe__submit(type="submit", value="000")

mixin expandable(name, styles)
    div(class="expandable "+styles)
        h3.expandable__header= name
        ul.expandable__list
            block        

mixin feature(name, text, styles)
    div(class="feature "+styles)
        h4.feature__header= name
        p.feature__text= text

mixin comments(href, name, src, ago, likes, likemodifier, styles)
    section(class="comment "+styles)
        .comment__column
            a(href=""+href, title=""+name)
                img(src=""+src, alt=""+name).comment__photo
            +like(likes, likemodifier)
        .comment__column
            a(href=""+href, title=""+name).comment__name= name
            p= ago
            block

mixin dropdown(styles, placeholder)
    section(class="dropdown "+styles)
        input.dropdown__input(type="text", placeholder=""+placeholder, disabled) 
        .dropdown__content    
            block

mixin dropdown__item(name, count, minusmod)
    li.dropdown__item 
        p= name
        .dropdown__calc= count
            button(class="dropdown__counter dropdown__counter--minus "+minusmod) -
            button.dropdown__counter.dropdown__counter--plus +

mixin date-dropdown(name, day, styles)
    div(class="date-dropdown "+styles)
        h3.date-dropdown__header= name
        button.date-dropdown__btn= day

mixin login(action, styles)
    section(class="login "+styles)
        h1.login__header Войти
        form(action=""+action)
            +text-field("name", "Email", "")
            +text-field("name", "Пароль", "")
            +submit("войти", "", "")
            .login__footer
                p Нет аккаунта на Toxin? 
                +btn("создать", "btn--empty btn--empty_active")

mixin key-value(key, value, styles)
    p(class="key-value "+styles)
        span.key-value__key= key
        span.key-value__value= value

mixin booking(header, roomtype, price, arrivalday, leaveday, guests, allpricedays, allpricecount, costdescr, costcount, upsaledescr, upsalecount, info, fullprice)
    .booking__wrapper                    
        h6.booking__header= header
            span.booking__type= roomtype
        +key-value(price, "в сутки", "booking__price")
    .booking__wrapper
        +date-dropdown("прибытие", arrivalday, "")
        +date-dropdown("выезд", leaveday, "")
    +dropdown("", guests)
    .booking__wrapper
        span.booking__allprice-days= allpricedays
        span.booking__allprice-count= allpricecount
    .booking__wrapper
        span.booking__cost-descr= costdescr
            a.booking__info(href="#" title=""+info)
        span.booking__cost-count= costcount
    .booking__wrapper
        span.booking__upsale-descr= upsaledescr
            a.booking__info(href="#" title=""+info)
        span.booking__upsale-count= upsalecount
    .booking__wrapper.booking__wrapper--sum
        h2 Итого
        h2.booking__fullprice= fullprice
    +submit("забронировать", "", "")

mixin searchroom(arrivalday, leaveday, guests, styles)
    section(class="searchroom "+styles)
        h1.searchroom__header Найдём номера под ваши пожелания
        .searchroom__wrapper
            +date-dropdown("прибытие", arrivalday, "")
            +date-dropdown("выезд", leaveday, "")
        +dropdown("", guests)
        +submit("подобрать номер", "", "")

mixin signup(action, styles)
    section(class="signup "+styles)
        h1.signup__header Регистрация аккаунта
        form(action=""+action )
            +text-field("name", "Имя", "")
            +text-field("name", "Фамилия", "")
            +radio("", "Мужчина", "sign", "sign1", "male")
            +radio("", "Женщина", "sign", "sign2", "female")
            //-mask-input
            h3 данные для входа в сервис
            +text-field("name", "Email", "")
            +text-field("name", "Пароль", "")
            +toggle("", "Получать спецпредложения", "name", "spam", "value")
            +submit("перейти к оплате", "", "")
            .signup__wrapper
                span Уже есть аккаунт на Toxin
                +btn("войти", "btn--empty btn--empty_active")

//-**********************************************************
//-**********************************************************
//-HEADERS
//-**********************************************************
//-**********************************************************

mixin logo(href, title, src, alt, styles)
    a(class="logo "+styles, href=""+href, title=""+title)
        img(src=""+src, alt=""+alt)

mixin header(links, logged, styles, userlink, username)
    header(class="header "+styles)
        .header__wrapper
            +logo("href", "title", "", "alt", "styles")
            nav.header__nav
                - for (let i=0; i<links.length; i++)
                    a(class="header__link "+links[i].styles, href=""+links[i].href, title=""+links[i].value)= links[i].value
                if logged === "true"
                    +btn("войти", "btn--empty btn--login")
                    +btn("зарегистрироваться", "btn--fill btn--signup")
                else
                    a.header__user(href=""+userlink, title=""+username)= username

mixin footercolumn(links)
    ul
        - for (let i=0; i<links.length; i++)
            li
                a(class="footer__link", href=""+links[i].href, title=""+links[i].value)= links[i].value

                
mixin socials()
    ul.socials__list
        li
            a.social__link.social__link--twitter(href="#", target="_blank", title="twitter")
        li
            a.social__link.social__link--fb(href="#", target="_blank", title="facebook")
        li
            a.social__link.social__link--inst(href="#", target="_blank", title="instagram")                

mixin footer(footerNav, footerAbout, footerSupport, styles)
    footer(class="footer "+styles)
        .footer__wrapper.footer__wrapper--paddings
            .footer__column
                +logo("href", "title", "", "alt", "styles")
                p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            .footer__column
                h3 navigation
                +footercolumn(footerNav)
            .footer__column
                h3 about us
                +footercolumn(footerAbout)
            .footer__column
                h3 support
                +footercolumn(footerSupport)
            .footer__column
                h3 Subscribe to our newsletter
                p Receive our latest news and promotions in your inbox!
                +subscribe("footer__subscribe", "Your email address", "name", "action")
        .footer__bottom
            .footer__wrapper
                p Copyright © 2018 Toxin UI Kit. All rights reserved.
                +socials()

mixin copyright(styles)
    footer(class="copyright "+styles)
        +logo("href", "title", "", "alt", "styles")
        p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
        +socials()


