include ./_bulletlist.pug


       










mixin login(action, styles)
    section(class="login "+styles)
        h1.login__header Войти
        form(action=""+action)
            +text-field("name", "Email", "login__email")
            +text-field("name", "Пароль", "login__password")
            +submit("войти", "login__submit", "")
            .login__footer
                p Нет аккаунта на Toxin? 
                +btn("создать", "btn-empty")



mixin booking(header, roomtype, price, arrivalday, leaveday, guests, allpricedays, allpricecount, costdescr, costcount, upsaledescr, upsalecount, info, fullprice)
    section.booking
        .booking__wrapper                    
            h6.booking__header= header
                span.booking__type= roomtype
            p.booking__price
                span.booking__price-count= price
                span.booking__price-day в сутки
        .booking__wrapper
            +date-dropdown("прибытие", arrivalday, "")
            +date-dropdown("выезд", leaveday, "")
        h3 гости
        +dropdown("dropdown--closed booking__guests", guests)
        .booking__wrapper.booking__wrapper--calc
            span.booking__allprice-days= allpricedays
            span.booking__allprice-count= allpricecount
        .booking__wrapper.booking__wrapper--calc
            span.booking__cost-descr= costdescr
                a.booking__info(href="#" title=""+info)
            span.booking__cost-count= costcount
        .booking__wrapper.booking__wrapper--calc
            span.booking__upsale-descr= upsaledescr
                a.booking__info(href="#" title=""+info)
            span.booking__upsale-count= upsalecount
        .booking__wrapper.booking__wrapper--sum
            h2 Итого
            h2.booking__fullprice= fullprice
        +submit("забронировать", "", "")

mixin searchroom(arrivalday, leaveday, guests, styles)
    section(class="searchroom "+styles)
        h1.searchroom__header Найдём номера под ваши пожелания
        .searchroom__wrapper
            +date-dropdown("прибытие", arrivalday, "dropdown--closed")
            +date-dropdown("выезд", leaveday, "dropdown--closed")
        +dropdown("dropdown--closed searchroom__guests", guests)
        +submit("подобрать номер", "", "")

mixin signup(action, styles)
    section(class="signup "+styles)
        h1.signup__header Регистрация аккаунта
        form(action=""+action )
            +text-field("name", "Имя", "signup__name")
            +text-field("name", "Фамилия", "signup__surname")
            +radio("", "Мужчина", "sign", "sign1", "male")
            +radio("", "Женщина", "sign", "sign2", "female")
            h3.signup__subheader дата рождения
            +text-field("name", "ДД.ММ.ГГГГ", "text-field--masked")
            h3.signup__subheader данные для входа в сервис
            +text-field("name", "Email", "signup__email")
            +text-field("name", "Пароль", "signup__password")
            +toggle("", "Получать спецпредложения", "name", "spam", "value")
            +submit("перейти к оплате", "signup__submit", "")
            .signup__wrapper
                span Уже есть аккаунт на Toxin
                +btn("войти", "btn-empty")

//-**********************************************************
//-**********************************************************
//-HEADERS
//-**********************************************************
//-**********************************************************

mixin logo(href, title, src, styles)
    a(class="logo "+styles, href=""+href, title=""+title)
        img(src=""+src, alt="logo")

mixin header(links, logged, styles, userlink, username)
    header(class="header "+styles)
        .header__wrapper
            +logo("href", "title", "", "styles")
            nav.header__nav
                - for (let i=0; i<links.length; i++)
                    a(class="header__link "+links[i].styles, href=""+links[i].href, title=""+links[i].value)= links[i].value
                if logged === "true"
                    +btn("войти", "btn-empty btn--login")
                    +btn("зарегистрироваться", "btn-fill btn--signup")
                else
                    a.header__user(href=""+userlink, title=""+username)= username

mixin footercolumn(links)
    ul
        - for (let i=0; i<links.length; i++)
            li
                a(class="footer__link" href=""+links[i].href, title=""+links[i].value)= links[i].value


mixin socials()
    ul.socials
        li
            a.socials__link.socials__link--twitter(href="#" target="_blank" title="twitter")
        li
            a.socials__link.socials__link--fb(href="#" target="_blank" title="facebook")
        li
            a.socials__link.socials__link--inst(href="#" target="_blank" title="instagram")                

mixin footer(footerNav, footerAbout, footerSupport, styles)
    footer(class="footer "+styles)
        .footer__wrapper.footer__wrapper--paddings
            .footer__column.footer__column--wide
                +logo("href", "title", "", "footer__logo")
                p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
            .footer__column
                h3.footer__title navigation
                +footercolumn(footerNav)
            .footer__column
                h3.footer__title about us
                +footercolumn(footerAbout)
            .footer__column
                h3.footer__title support
                +footercolumn(footerSupport)
            .footer__column.footer__column--wide
                h3.footer__title Subscribe to our newsletter
                p.footer__text Receive our latest news and promotions in your inbox!
                +subscribe("footer__subscribe", "Your email address", "name", "action")
        .footer__bottom
            .footer__wrapper
                p Copyright © 2018 Toxin отель. Все права зачищены.
                +socials()

mixin copyright(styles)
    footer(class="copyright "+styles)
        +logo("href", "title", "", "alt", "styles")
        p.copyright__text Copyright © 2018 Toxin отель. Все права зачищены.
        +socials()


